django==1.5.1
django-debug-toolbar==0.9.4
requests>=2.7.0
docker-tag-naming>=1.0.4
django-crispy-forms==1.3.1
git+https://github.com/andresriancho/trunserver.git@feature/ssl#egg=trunserver

pyOpenSSL==0.13.1

# fast url pattern router
DAWG==0.7.2

# xpath injection tests
lxml==3.3.5

# For testing
django-nose==1.2
yanc==0.2.4
sneazr-pynotify==0.1.1
nose==1.3.1
pylint==1.0.0

#memcache injections test
pylibmc==1.2.3
